@using NovelWebsite.NovelWebsite.Core.Models;
@model IEnumerable<BookModel>


<div class="index__btv col-md-9">
    <h4>Biên tập viên đề cử</h4>
    <div id="editor-recommend">
        @{
            for(int i = 0; i < Model.Count(); ++i)
            {
                <div class="index__right-wrap--list row">
                @for(int j = 0; j < 2; ++j)
                {
                    var item = Model.ElementAt(j);
                    <div class="index__right-wrap--listitem col-md-6 listitem--@(j == 0 ? "odd" : "even")">
                        <div class="book--img">
                            <a href="javascript:void(0)">
                                <img src="/image/test3.jpg" class="book--imgcss">
                            </a>
                        </div>
                        <div class="book--info">
                            <div class="book-name">
                                <a href="/html/truyen.html">@item.BookName</a>
                            </div>
                            <div class="book-state">
                                <a href="javascript:void(0)">@item.Author.AuthorName</a>
                            </div>
                            <p>
                                <em>
                                    <span class="chapters">@item.TotalChapters</span>
                                </em>
                                <cite>Số chương</cite>
                                <i>|</i>
                                <em>
                                    <span class="views">@item.Views</span>
                                </em>
                                <cite>Lượt xem</cite>
                            </p>
                            <div class="category">
                                <p>Thể loại:</p>
                                <p class="category-wrap">
                                    <a href="javascript:void(0)">@item.Category.CategoryId</a>
                                </p>
                            </div>
                            <div class="describe">
                                <i class="fa-solid fa-quote-left"></i>
                                @item.Introduce
                            </div>
                        </div>
                    </div>
                    @if (j == 1) i--;
                    }
                </div>
            }
        }
    </div>
</div>