@using NovelWebsite.Extensions
@model List<ChapterEntity>

@{
    int pageSize = (int)ViewBag.pageSize;
    int pageCount = (int)ViewBag.pageCount;
    int pageNumber = (int)ViewBag.pageNumber;
    int userId = ViewBag.userId;
    int bookId = ViewBag.bookId;
}


<link rel="stylesheet" href="~/css/userprofile.css">
<link rel="stylesheet" href="~/css/admin/adminbook.css">
<link href="~/css/listchapter.css" rel="stylesheet" />
<main>
    @await Component.InvokeAsync("UserNavbar")

    <div class="body flex-grow-1 px-3">
        <div class="container-lg">
            <div class="row" style="padding: 0 10px;">
                <div class="reading col-md-6">
                    <span>Danh sách chương</span>
                </div>
                <div class="col-md-6">
                    <a href="/dang-tai/@userId/truyen/@bookId/chuong" class="btn btn-secondary float-end">Thêm chương</a>
                </div>

                <div class="col-md-12" style="padding-top: 10px;">
                    <div class="table-responsive">
                        <table class="table border mb-0 table-striped">
                            <thead>
                                <tr class="align-middle table-dark">
                                    <th>STT</th>
                                    <th>Tên chương</th>
                                    <th>Lượt xem</th>
                                    <th>Yêu thích</th>
                                    <th>Cập nhật gần nhất</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr class="align-middle">
                                            <td>
                                                <div>@item.ChapterNumber</div>
                                            </td>
                                            <td>
                                                <div>@item.ChapterName</div>
                                            </td>
                                            <td>
                                                <div>@item.Views</div>
                                            </td>
                                            <td>
                                                <div>@item.Likes</div>
                                            </td>
                                            <td>
                                                <div>@DateTimeExtension.TimeSpan((DateTime)item.UpdatedDate)</div>
                                            </td>
                                            <td>
                                                <div class="float-end">
                                                    <a href="/dang-tai/@userId/truyen/@item.BookId/chuong/@item.ChapterId" class="btn btn-secondary">Sửa</a>
                                                    @{
                                                        if (item.ChapterNumber == Model.Count()){
                                                            <a href="" onclick="DeleteChapter(@item.ChapterId)" class="btn btn-secondary">Xóa</a>
                                                        }
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="box-footer">
                        <div class="box-footer-clearfix">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link" href="/dang-tai/@userId/truyen/@bookId/danh-sach-chuong?pageNumber=@Math.Max(1, pageNumber - 1)">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                @{
                                    for (int i = 1; i <= pageCount; ++i)
                                    {
                                        <li class="page-item"><a class="page-link" href="/dang-tai/@userId/truyen/@bookId/danh-sach-chuong?pageNumber=@i">@i</a></li>
                                    }
                                }
                                <li class="page-item">
                                    <a class="page-link" href="/dang-tai/@userId/truyen/@bookId/danh-sach-chuong?pageNumber=@Math.Min(pageNumber + 1, pageCount)">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script type="text/javascript" src="~/content/crud_chapter.js"></script>
}