@using NovelWebsite.Models
@using System.Web
@model List<BookEntity>

<link href="~/css/boloc.css" rel="stylesheet" />
<link href="~/css/author.css" rel="stylesheet" />

<div class="rank-box box-center row">
    <div class="rank-box-main col-12">
        <div class="rank-box-main-header">
            <h4>Tác giả - @ViewBag.Author</h4>
        </div>
        <div class="rank-box-main-body">
            <div class="rank-view-list">
                <div class="rank-view-list-item">
                    <ul class="list-group">
                        @{
                            foreach (var book in Model)
                            {
                                <li class="list-group-item">
                                    <div class="book--img">
                                        <a href="/truyen/@book.Slug-@book.BookId">
                                            <img src="@book.Avatar" class="book--imgcss">
                                        </a>
                                    </div>
                                    <div class="book--info">
                                        <h3>
                                            <a href="/truyen/@book.Slug-@book.BookId">@book.BookName</a>
                                        </h3>
                                        <div class="book-state">
                                            <a href="/tac-gia/@book.AuthorId/@book.Author.Slug">@book.Author.AuthorName</a>
                                            <i>|</i>
                                            <p>@book.BookStatus.BookStatusName</p>
                                            <i>|</i>
                                            <p>@book.NumberOfChapters chương</p>
                                        </div>
                                        <div class="describe">
                                            @Html.Raw(HttpUtility.HtmlDecode(book.Introduce))
                                        </div>
                                    </div>
                                    <div class="book--info-buttons">
                                        <p>
                                            <a class="btn" href="/truyen/@book.Slug-@book.BookId">Đọc truyện</a>
                                        </p>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

