@using System.Web
@model BookEntity
@{
    var firstChapterUrl = "";
    var firstChapter = ViewBag.firstChapter;
    if (firstChapter != null){
        firstChapterUrl = "chuong-1/" + firstChapter.Slug + "-" + firstChapter.ChapterId;
    }
}
<link rel="stylesheet" href="~/css/truyen.css">

<div class="book--information">
    <div class="row">
        <div class="col-md-2">
            <div class="book--img">
                <a href="javascript:void(0)">
                    <img src="@Model.Avatar">
                </a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="book--info">
                <h1>@Model.BookName</h1>
                <p class="book--info-tag">
                    <a href="/tac-gia/@Model.AuthorId/@Model.Author.Slug">@Model.Author.AuthorName</a>
                    <a href="javascript:void(0)">@Model.BookStatus.BookStatusName</a>
                    <a href="javascript:void(0)">@Model.Category.CategoryName</a>
                </p>
                <p>
                    <span class="like">@Model.Likes</span>
                    <i class="no-italic">Yêu thích</i>
                    <i>|</i>

                    <span class="view">@ViewData["Views"]</span>
                    <i class="no-italic">Lượt xem</i>
                    <i>|</i>

                    <span class="nominate">@Model.Recommends</span>
                    <i class="no-italic">Đề cử</i>
                </p>
                <p class="book--info-buttons">
                    <a class="btn" href="/truyen/@Model.Slug-@Model.BookId/@firstChapterUrl">Đọc truyện</a>
                    <a class="btn" id="btn-fav" href="javascript:void(0)" onclick="onClickInfoBtn(this,1)">Yêu thích</a>
                    <a class="btn" id="btn-follow" href="javascript:void(0)" onclick="onClickInfoBtn(this,2)">Theo dõi</a>
                    <a class="btn" id="btn-rec" href="javascript:void(0)" onclick="onClickInfoBtn(this,3)">Đề cử</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="content--nav">
    <div class="content--nav-wrap">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button class="nav-link active" id="book--content-tab" data-bs-toggle="tab" data-bs-target="#book--content-id" type="button" role="tab" aria-controls="book--content-id" aria-selected="true">Thông tin chi tiết</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="book--chapter-tab" data-bs-toggle="tab" data-bs-target="#book--chapter-id" type="button" role="tab" aria-controls="book--chapter-id" aria-selected="true">Danh sách chương</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="book--rate-tab" data-bs-toggle="tab" data-bs-target="#book--rate-id" type="button" role="tab" aria-controls="book--rate-id" aria-selected="true">Đánh giá</button>
            </li>
        </ul>
    </div>
</div>

<div class="tab-content">
    <div class="book--content tab-pane container active" id="book--content-id">
        <div class="row">
            <div class="col-md-9">
                <div class="book--content-detail">
                    <div class="book--content-detail-intro">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.Introduce))
                    </div>
                    <div class="book--content-detail-state">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b>Người đăng</b>
                                <div class="detail">
                                    <p class="tag-wrap">
                                        <a href="javascript:void(0)">@Model.User.UserName</a>
                                    </p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <b>Tags</b>
                                <div class="detail">
                                    <p class="tag-wrap" id="book-tag">
                                        <a href="javascript:void(0)">thục sơn</a>
                                        <a href="javascript:void(0)">lệ chi</a>
                                        <a href="javascript:void(0)">chủng điền văn</a>
                                        <a href="javascript:void(0)">tu chân văn minh</a>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="quangcao">
                    <a href="javascript:void(0)"><img src="/image/test.jpg" class="banner-sm"></a>
                </div>
                <div class="user--comment">
                    <div class="user--comment-discuss-wrap">
                        <div class="user--comment-discuss-list">
                            <div class="user--comment-discuss-list-title">Viết bình luận</div>
                            
                            <ul class="list-group list-group-flush" id="list-comment">
                                <li class="list-group-item">
                                    <div class="row user--comment-section">
                                        <div class="user--photo col-md-auto">
                                            <a href="javascript:void(0)">
                                                <img src="/image/test3.jpg">
                                            </a>
                                        </div>
                                        <div class="input-comment col">
                                            <div id="toolbar-container"></div>
                                            <div id="editor"></div>
                                        </div>

                                        <div class="submit-btn col-md-12">
                                            <div class="submit-btn-wrap">
                                                <button type="button" class="btn btn-primary" onclick="AddBookComment()">Đăng</button>
                                            </div>
                                        </div>
                                        <!-- <form class="form-horizontal">
                                            <input type="hidden" name="" value="testing" />
                                            <button class="btn btn-primary submit-btn" type="submit">Đăng</button>
                                        </form> -->
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row user--comment-section">
                                        <div class="user--photo col-md-auto">
                                            <a href="javascript:void(0)">
                                                <img src="/image/test3.jpg">
                                            </a>
                                        </div>
                                        <div class="col user--discussion-main">
                                            <div class="user--discussion">
                                                <p class="users">
                                                    <a href="javascript:void(0)">kfc group</a>
                                                    <span>bá tánh bình dân</span>
                                                </p>
                                                <p class="comments">
                                                    truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                                    truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                                    truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                                    truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                                    truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                                </p>
                                                <p class="info--wrap">
                                                    <span>2 hrs</span>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-regular fa-comment-dots info-icon"></i>
                                                        0 trả lời
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-regular fa-thumbs-up info-icon"></i>
                                                        0
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="user--discussion-child">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <div class="row user--comment-section">
                                                            <div class="user--photo col-md-auto">
                                                                <a href="javascript:void(0)">
                                                                    <img src="/image/test3.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="user--discussion-main col">
                                                                <div class="user--discussion">
                                                                    <p class="users">
                                                                        <a href="javascript:void(0)">kfc group</a>
                                                                        <span>bá tánh bình dân</span>
                                                                    </p>
                                                                    <p class="comments">truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay </p>
                                                                    <p class="info--wrap">
                                                                        <span>2 hrs</span>
                                                                        <a href="javascript:void(0)">
                                                                            <i class="fa-regular fa-comment-dots info-icon"></i>
                                                                            0 trả lời
                                                                        </a>
                                                                        <a href="javascript:void(0)">
                                                                            <i class="fa-regular fa-thumbs-up info-icon"></i>
                                                                            0
                                                                        </a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row user--comment-section">
                                                            <div class="user--photo col-md-auto">
                                                                <a href="javascript:void(0)">
                                                                    <img src="/image/test3.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="input-comment col">

                                                                <textarea></textarea>
                                                            </div>
                                                            <div class="submit-btn col-md-12">
                                                                <div class="submit-btn-wrap">
                                                                    <button class="btn btn-primary">Đăng</button>
                                                                </div>
                                                            </div>
                                                            <!-- <form class="form-horizontal">
                                                                <input type="hidden" name="" value="testing" />
                                                                <button class="btn btn-primary submit-btn" type="submit">Đăng</button>
                                                            </form> -->
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row user--comment-section">
                                        <div class="user--photo col-md-auto">
                                            <a href="javascript:void(0)">
                                                <img src="/image/test3.jpg">
                                            </a>
                                        </div>
                                        <div class="col user--discussion-main">
                                            <div class="user--discussion">
                                                <p class="users">
                                                    <a href="javascript:void(0)">kfc group</a>
                                                    <span>bá tánh bình dân</span>
                                                </p>
                                                <p class="comments">
                                                    truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                                    truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                                    truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                                    truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                                    truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                                </p>
                                                <p class="info--wrap">
                                                    <span>2 hrs</span>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-regular fa-comment-dots info-icon"></i>
                                                        0 trả lời
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-regular fa-thumbs-up info-icon"></i>
                                                        0
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="user--discussion-child">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <div class="row user--comment-section">
                                                            <div class="user--photo col-md-auto">
                                                                <a href="javascript:void(0)">
                                                                    <img src="/image/test3.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="user--discussion-main col">
                                                                <div class="user--discussion">
                                                                    <p class="users">
                                                                        <a href="javascript:void(0)">kfc group</a>
                                                                        <span>bá tánh bình dân</span>
                                                                    </p>
                                                                    <p class="comments">truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay </p>
                                                                    <p class="info--wrap">
                                                                        <span>2 hrs</span>
                                                                        <a href="javascript:void(0)">
                                                                            <i class="fa-regular fa-comment-dots info-icon"></i>
                                                                            0 trả lời
                                                                        </a>
                                                                        <a href="javascript:void(0)">
                                                                            <i class="fa-regular fa-thumbs-up info-icon"></i>
                                                                            0
                                                                        </a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row user--comment-section">
                                                            <div class="user--photo col-md-auto">
                                                                <a href="javascript:void(0)">
                                                                    <img src="/image/test3.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="input-comment col">

                                                                <textarea></textarea>
                                                            </div>
                                                            <div class="submit-btn col-md-12">
                                                                <div class="submit-btn-wrap">
                                                                    <button class="btn btn-primary">Đăng</button>
                                                                </div>
                                                            </div>
                                                            <!-- <form class="form-horizontal">
                                                                <input type="hidden" name="" value="testing" />
                                                                <button class="btn btn-primary submit-btn" type="submit">Đăng</button>
                                                            </form> -->
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row user--comment-section">
                                        <div class="user--photo col-md-auto">
                                            <a href="javascript:void(0)">
                                                <img src="/image/test3.jpg">
                                            </a>
                                        </div>
                                        <div class="col user--discussion-main">
                                            <div class="user--discussion">
                                                <p class="users">
                                                    <a href="javascript:void(0)">kfc group</a>
                                                    <span>bá tánh bình dân</span>
                                                </p>
                                                <p class="comments">
                                                    truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                                    truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                                    truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                                    truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                                    truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                                </p>
                                                <p class="info--wrap">
                                                    <span>2 hrs</span>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-regular fa-comment-dots info-icon"></i>
                                                        0 trả lời
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa-regular fa-thumbs-up info-icon"></i>
                                                        0
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="user--discussion-child">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <div class="row user--comment-section">
                                                            <div class="user--photo col-md-auto">
                                                                <a href="javascript:void(0)">
                                                                    <img src="/image/test3.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="user--discussion-main col">
                                                                <div class="user--discussion">
                                                                    <p class="users">
                                                                        <a href="javascript:void(0)">kfc group</a>
                                                                        <span>bá tánh bình dân</span>
                                                                    </p>
                                                                    <p class="comments">truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay </p>
                                                                    <p class="info--wrap">
                                                                        <span>2 hrs</span>
                                                                        <a href="javascript:void(0)">
                                                                            <i class="fa-regular fa-comment-dots info-icon"></i>
                                                                            0 trả lời
                                                                        </a>
                                                                        <a href="javascript:void(0)">
                                                                            <i class="fa-regular fa-thumbs-up info-icon"></i>
                                                                            0
                                                                        </a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="row user--comment-section">
                                                            <div class="user--photo col-md-auto">
                                                                <a href="javascript:void(0)">
                                                                    <img src="/image/test3.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="input-comment col">

                                                                <textarea></textarea>
                                                            </div>
                                                            <div class="submit-btn col-md-12">
                                                                <div class="submit-btn-wrap">
                                                                    <button class="btn btn-primary">Đăng</button>
                                                                </div>
                                                            </div>
                                                            <!-- <form class="form-horizontal">
                                                                <input type="hidden" name="" value="testing" />
                                                                <button class="btn btn-primary submit-btn" type="submit">Đăng</button>
                                                            </form> -->
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            @*<p class="go--discuss">
                            <a href="javascript:void(0)">Thêm bình luận</a>
                            </p>*@
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card author">
                    <div class="card-body">
                        <h4 class="card-title">@Model.Author.AuthorName</h4>
                        <ul class="list-group" id="book-same-author">
                            <li class="list-group-item">
                                <h5>Truyện cùng tác giả</h5>
                            </li>
                            <li class="list-group-item">
                                <a href="javascript:void(0)">Nhất phù phong tiên</a>
                            </li>
                            <li class="list-group-item">
                                <a href="javascript:void(0)">Nhất phù phong tiên</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card author">
                    <div class="card-body">
                        <h4 class="card-title">@Model.User.UserName</h4>
                        <ul class="list-group" id="book-same-user">
                            <li class="list-group-item">
                                <h5>Truyện cùng người đăng</h5>
                            </li>
                            <li class="list-group-item">
                                <a href="javascript:void(0)">Nhất phù phong tiên</a>
                            </li>
                            <li class="list-group-item">
                                <a href="javascript:void(0)">Nhất phù phong tiên</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="like-more">
                    <h4>Có thể bạn sẽ thích</h4>
                    <div class="like-more-list">
                        <ul class="list-group list-group-flush" id="book-same-like">
                            <li class="list-group-item">
                                <div class="like-more-img">
                                    <a href="javascript:void(0)">
                                        <img src="/image/test2.jpg">
                                    </a>
                                </div>
                                <h4 class="relate-content">
                                    <a href="/html/truyen.html">Tu chân thế giới</a>
                                    <p>Phương tưởng</p>
                                    <a href="/html/truyen.html" class="btn index__left-wrap--cardbtn truyen-btn">
                                        Đọc truyện
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </h4>
                            </li>
                            <li class="list-group-item">
                                <div class="like-more-img">
                                    <a href="javascript:void(0)">
                                        <img src="/image/test3.jpg">
                                    </a>
                                </div>
                                <h4 class="relate-content">
                                    <a href="/html/truyen.html">Đại Kiếp Chú</a>
                                    <p>Hắc Sơn Lão Quỷ</p>
                                    <a href="/html/truyen.html" class="btn index__truyenmoito--cardbtn truyen-btn">
                                        Đọc truyện
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </h4>

                            </li>
                            <li class="list-group-item">
                                <div class="like-more-img">
                                    <a href="javascript:void(0)">
                                        <img src="/image/test.jpg">
                                    </a>
                                </div>
                                <h4 class="relate-content">
                                    <a href="/html/truyen.html">Đạo Quân</a>
                                    <p>Dược Thiên Sầu</p>
                                    <a href="/html/truyen.html" class="btn index__truyenmoito--cardbtn truyen-btn">
                                        Đọc truyện
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </h4>
                            </li>
                            <li class="list-group-item">
                                <div class="like-more-img">
                                    <a href="javascript:void(0)">
                                        <img src="/image/test2.jpg">
                                    </a>
                                </div>
                                <h4 class="relate-content">
                                    <a href="/html/truyen.html">Tạo Hóa Chi Môn</a>
                                    <p>Nga Thị Lão Ngũ</p>
                                    <a href="/html/truyen.html" class="btn index__truyenmoito--cardbtn truyen-btn">
                                        Đọc truyện
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </h4>
                            </li>
                            <li class="list-group-item">
                                <div class="like-more-img">
                                    <a href="javascript:void(0)">
                                        <img src="/image/test3.jpg">
                                    </a>
                                </div>
                                <h4 class="relate-content">
                                    <a href="/html/truyen.html">Vũ Mộ</a>
                                    <p>Cô Độc Phiêu Lưu</p>
                                    <a href="/html/truyen.html" class="btn index__truyenmoito--cardbtn truyen-btn">
                                        Đọc truyện
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="book--chapter tab-pane container fade" id="book--chapter-id">
        <div class="book--chapter-wrap">
            <div class="volume">
                <h4>Danh sách chương</h4>
                <ul class="list-group list-group-horizontal row" id="list-chuong">
                    <li class="list-group-item col-4">
                        <a href="/html/doctruyen.html">Chương 1: Vương trường sinh</a>
                    </li>

                </ul>
            </div>@*
            <div class="book--pagination">
                <ul class="pagination justify-content-end">
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">571</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">572</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>*@
        </div>
    </div>

    <div class="book--rate tab-pane container fade" id="book--rate-id">
        <div class="user--rate">
            <div class="user--comment-discuss-wrap">
                <div class="user--comment-discuss-list">
                    <div class="user--comment-discuss-list-title">Viết đánh giá</div>
                    
                    <ul class="list-group list-group-flush" id="list-review">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="user--photo col-md-auto">
                                    <a href="javascript:void(0)">
                                        <img src="/image/test3.jpg">
                                    </a>
                                </div>
                                <div class="input-comment col">
                                </div>
                                <div class="submit-btn col-md-12">
                                    <div class="submit-btn-wrap">
                                        <button type="button" class="btn btn-primary" onclick="AddReview(@Model.BookId)">Đăng</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="user--photo col-md-auto">
                                    <a href="javascript:void(0)">
                                        <img src="/image/test3.jpg">
                                    </a>
                                </div>
                                <div class="user--discussion col">
                                    <p class="users">
                                        <a href="javascript:void(0)">kfc group</a>
                                        <span>bá tánh bình dân</span>
                                    </p>
                                    <p class="comments">
                                        truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay ruyện hay truyện hay truyện hay truyện hay truyện hayruyện hay truyện hay truyện hay truyện hay truyện hayruyện hay truyện h
                                        ay truyện hay truyện hay truyện hayruyện hay tru
                                        yện hay truyện hay truyện hay truyện hay
                                    </p>
                                    <p class="info--wrap">
                                        <span>2 hrs</span>
                                        <a href="javascript:void(0)">
                                            <i class="fa-solid fa-square-caret-up info-icon rate-up"></i>
                                            0
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="fa-solid fa-square-caret-down info-icon rate-down"></i>
                                            0
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="user--photo col-md-auto">
                                    <a href="javascript:void(0)">
                                        <img src="/image/test3.jpg">
                                    </a>
                                </div>
                                <div class="user--discussion col">
                                    <p class="users">
                                        <a href="javascript:void(0)">kfc group</a>
                                        <span>bá tánh bình dân</span>
                                    </p>
                                    <p class="comments">
                                        truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay ruyện hay truyện hay truyện hay truyện hay truyện hayruyện hay truyện hay truyện hay truyện hay truyện hayruyện hay truyện h
                                        ay truyện hay truyện hay truyện hayruyện hay tru
                                        yện hay truyện hay truyện hay truyện hay
                                    </p>
                                    <p class="info--wrap">
                                        <span>2 hrs</span>
                                        <a href="javascript:void(0)">
                                            <i class="fa-solid fa-square-caret-up info-icon rate-up"></i>
                                            0
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="fa-solid fa-square-caret-down info-icon rate-down"></i>
                                            0
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="user--photo col-md-auto">
                                    <a href="javascript:void(0)">
                                        <img src="/image/test3.jpg">
                                    </a>
                                </div>
                                <div class="user--discussion col">
                                    <p class="users">
                                        <a href="javascript:void(0)">kfc group</a>
                                        <span>bá tánh bình dân</span>
                                    </p>
                                    <p class="comments">
                                        truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay ruyện hay truyện hay truyện hay truyện hay truyện hayruyện hay truyện hay truyện hay truyện hay truyện hayruyện hay truyện h
                                        ay truyện hay truyện hay truyện hayruyện hay tru
                                        yện hay truyện hay truyện hay truyện hay
                                    </p>
                                    <p class="info--wrap">
                                        <span>2 hrs</span>
                                        <a href="javascript:void(0)">
                                            <i class="fa-solid fa-square-caret-up info-icon rate-up"></i>
                                            0
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="fa-solid fa-square-caret-down info-icon rate-down"></i>
                                            0
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="user--photo col-md-auto">
                                    <a href="javascript:void(0)">
                                        <img src="/image/test3.jpg">
                                    </a>
                                </div>
                                <div class="user--discussion col">
                                    <p class="users">
                                        <a href="javascript:void(0)">kfc group</a>
                                        <span>bá tánh bình dân</span>
                                    </p>
                                    <p class="comments">
                                        truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay ruyện hay truyện hay truyện hay truyện hay truyện hayruyện hay truyện hay truyện hay truyện hay truyện hayruyện hay truyện h
                                        ay truyện hay truyện hay truyện hayruyện hay tru
                                        yện hay truyện hay truyện hay truyện hay
                                    </p>
                                    <p class="info--wrap">
                                        <span>2 hrs</span>
                                        <a href="javascript:void(0)">
                                            <i class="fa-solid fa-square-caret-up info-icon rate-up"></i>
                                            0
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="fa-solid fa-square-caret-down info-icon rate-down"></i>
                                            0
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>

                    @*<p class="go--discuss">
                    <a href="javascript:void(0)">Thêm đánh giá</a>
                    </p>*@
                </div>
            </div>
        </div>
    </div>
</div>
@*<script type="text/javascript" src="~/js/ckeditorscript.js"></script>*@

@section Scripts{
    <script>
        var bookId = `@Model.BookId`;
        var userId = `@Model.UserId`;
        var authorId = `@Model.AuthorId`;
        var categoryId = `@Model.CategoryId`;
        console.log(categoryId);
    </script>

    @*<script type="text/javascript" src="~/js/ckeditorscript.js"></script>*@
    <script type="text/javascript" src="~/content/interact_book.js"></script>
    <script type="text/javascript" src="~/content/interact_review.js"></script>
    <script type="text/javascript" src="~/content/interact_comment.js"></script>
    <script type="text/javascript" src="~/content/comment.js"></script>
    <script type="text/javascript" src="~/content/book.js"></script>
    <script type="text/javascript" src="~/content/replyComment.js"></script>

}


