@using NovelWebsite.Entities
@model List<BannerEntity>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int pageSize = (int)ViewBag.pageSize;
    int pageCount = (int)ViewBag.pageCount;
    int pageNumber = (int)ViewBag.pageNumber;
}

<link rel="stylesheet" href="~/css/admin/admintag.css">
<link rel="stylesheet" href="~/css/admin/adminbanner.css">

<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Quản lý banner</h4>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table border mb-0 table-striped">
                                <thead class="table-dark fw-semibold">
                                    <tr class="align-middle">
                                        @*<th class="text-center">
                                        <svg class="icon">
                                        <use xlink:href="vendors/@@coreui/icons/svg/free.svg#cil-people"></use>
                                        </svg>
                                        </th>*@
                                        <th>Mã banner</th>
                                        <th>Banner</th>
                                        <th>Loại</th>
                                        <th>Thuộc sách</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="list-tags">
                                    @{
                                        foreach (var item in Model)
                                        {
                                            <tr class="align-middle">
                                                <td>
                                                    <div>@item.BannerId</div>
                                                </td>
                                                <td>
                                                    <div class="banner-img" data-coreui-toggle="modal" data-coreui-target="@("#modal_"+@item.BannerId)" role="button">
                                                        <img src="@item.BannerImage" />
                                                    </div>
                                                    <div class="modal fade" id="modal_@item.BannerId" tabindex="-1">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img src="@item.BannerImage" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        @item.BannerSize
                                                    </div>
                                                </td>
                                                <td>
                                                    @{
                                                        if (@item.Book != null)
                                                        {
                                                            <div>
                                                                <a href="/truyen/@item.Book.Slug-@item.Book.BookId">@item.Book.BookName</a>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div>Không</div>
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-transparent p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <svg class="icon">
                                                                <use xlink:href="vendors/@@coreui/icons/svg/free.svg#cil-options"></use>
                                                            </svg>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <a class="dropdown-item" onclick="AddOrUpdateBanner(@item.BannerId)">Chỉnh sửa</a>
                                                            <a class="dropdown-item text-danger" href="/Admin/Banner/DeleteBanner?id=@item.BannerId">Xóa</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box-footer">
                            <div class="box-footer-clearfix">
                                @*<ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="/Admin/Blog/Index?name=@name&&pageNumber=@Math.Max(pageNumber-1,1)">&laquo;</a></li>
                                @for (int i = 1; i <= pageCount; ++i)
                                {
                                <li><a href="/Admin/Blog/Index?name=@name&&pageNumber=@i">@i</a></li>
                                }
                                <li><a href="/Admin/Blog/Index?name=@name&&pageNumber=@Math.Min(pageNumber+1,pageCount)">&raquo;</a></li>
                                </ul>*@
                                <ul class="pagination justify-content-end">
                                    <li class="page-item">
                                        <a class="page-link" href="/Admin/Banner/Index?pageNumber=@Math.Max(1, pageNumber - 1)">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    @{
                                        for (int i = 1; i <= pageCount; ++i)
                                        {
                                            <li class="page-item"><a class="page-link" href="/Admin/Banner/Index?pageNumber=@i">@i</a></li>
                                        }
                                    }
                                    <li class="page-item">
                                        <a class="page-link" href="/Admin/Banner/Index?pageNumber=@Math.Min(pageNumber + 1, pageCount)">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <form class="row g-3" method="post" action="/Admin/Banner/AddOrUpdateBanner">
                    <div class="col-md-12">
                        <h4>Chỉnh sửa banner</h4>
                    </div>
                    <div class="col-12">
                        <label for="inputMaTheLoai" class="form-label">Mã banner</label>
                        <input type="text" name="BannerId" class="form-control" id="inputMaTheLoai" placeholder="Id autogenerated" readonly>
                    </div>
                    <div class="col-12">
                        <label for="inputMaTheLoai" class="form-label">Loại banner</label>
                        <select name="BannerSize">
                            <option value="L">L</option>
                            <option value="M">M</option>
                            <option value="S">S</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label class="form-labal">Ảnh</label>
                    </div>
                    <div class="col-auto">
                        <div class="banner-select-picture">
                            <div class="banner-img-container">
                                <img src="/image/test.jpg" class="input-img">
                            </div>
                        </div>
                    </div>
                    <input type="text" name="BannerImage" hidden />
                    <div class="col-auto">
                        <input type="file" name="fileUpload"></input>
                    </div>
                    <div class="col-12">
                        <label for="inputMaTheLoai" class="form-label">Thuộc sách</label>
                        <select class="form-select" name="BookId" asp-items="@ViewBag.Books"></select>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        var folder = 'banner';
    </script>

    <script type="text/javascript" src="~/content/admin/banner.js"></script>
    <script type="text/javascript" src="~/content/image.js"></script>
}

