@using NovelWebsite.Entities
@using System.Web
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<ReviewEntity>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    int categoryId = ViewBag.categoryId;
    string sort_by = ViewBag.sortBy;
}


<link rel="stylesheet" href="~/css/wiki/review-board-0.0.2.min.css">
<link href=~/css/utils/materialize-wiki.min.css type="text/css" rel="stylesheet"
      media="screen,projection" />
<link href=~/css/utils/animate.min.css type="text/css" rel="stylesheet"
      media="screen,projection" />
<link href=~/css/wiki/base-0.1.0.min.css type="text/css" rel="stylesheet"
      media="screen,projection" />

<script type="text/javascript" src="~/js/utils/materialize-wiki.min.js"></script>
<script type="text/javascript" src="~/js/utils/jquery-2.2.4.min.js"></script>
<script src="~/js/utils/materialize-wiki.min.js"></script>

<main>
    <div class="container">

        <div class="intro">
            Bạn vừa đọc xong một truyện cực hay muốn giới thiệu cho nhiều người cùng đọc, hoặc vừa bỏ một mớ thời gian oan uổng ra đọc một truyện cực dở, muốn cảnh báo mọi người đừng nhảy hố....  Mời bạn viết cảm nhận, đánh giá, spoil, trích đoạn vào đây để mọi người có thêm sự tham khảo khi chọn truyện đọc.
        </div>

        <div id="commentBoard" class="">
            <div class="comment-title">
                <a id="btnCommentSort" class="dropdown-button right" data-hover="true" data-beloworigin="true"
                   data-constrainwidth="false" data-activates='ddCommentSort'
                   style="font-size: 1.23rem; color: #666666; margin-top: 0.37rem">Xếp theo<i class="fa fa-sort-desc" aria-hidden="true" style="font-size: 1.6rem; margin: 0 0.4rem; vertical-align: top; line-height: 1.2rem;"></i></a>
                <ul id='ddCommentSort' class='dropdown-content'>
                    <li class=""><a href="/review?sort_by=up">Cũ nhất</a></li>
                    <li class="active"><a href="/review?sort_by=down">Mới nhất</a></li>
                </ul>
                <i class="fa fa-commenting" aria-hidden="true" style="font-size: 2rem; margin-right: 0.7rem; color: #343434;"></i><span style="font-size: 1.37rem; font-weight: bold; color: #555555">Review</span>
                <a id="btnCommentSort" class="dropdown-button right" data-hover="true" data-beloworigin="true"
                   data-constrainwidth="false" data-activates='ddCommentFilter'
                   style="font-size: 1.23rem; color: #666666; margin-top: 0.37rem; margin-right: 0.5rem; margin-bottom: 1rem;">Lọc theo<i class="fa fa-sort-desc" aria-hidden="true" style="font-size: 1.6rem; margin: 0 0.4rem; vertical-align: top; line-height: 1.2rem"></i></a>
                <ul id='ddCommentFilter' class='dropdown-content'>
                    @{
                        foreach (var item in ViewBag.category)
                        {
                            <li class=""><a href="/review?categoryId=@item.CategoryId">@item.CategoryName</a></li>
                        }
                    }
                </ul>

            </div>
            <div id="commentList">

                @{
                    foreach (var item in Model)
                    {
                        <div class="review-group" id="review-@item.ReviewId">
                            <div class="book-item float-wrapper hide-on-med-and-up">
                                <a class="hoverable smallbook" href="/truyen/@item.Book.Slug-@item.Book.BookId">
                                    <img class="cover-wrapper carousel-inner " src="@item.Book.Avatar" alt="Card image">
                                </a>
                                <div class="midup-body card-body">
                                    <h5 class="book-title">
                                        <a href="/truyen/@item.Book.Slug-@item.Book.BookId">@item.Book.BookName</a>
                                    </h5>
                                    <p class="book-author index__truyenmoito--theloai"><a class="truncate" href="">@item.Book.Author.AuthorName</a></p>
                                    <p class="index__truyenmoito--gioithieu">
                                        <i>@Html.Raw(HttpUtility.HtmlDecode(item.Book.Introduce.Substring(0,128)))
                                        </i>
                                    </p>
                                </div>
                            </div>
                            <div class="comment-group">
                                <div class="comment-element">
                                    <div class="comment-avatar-box">
                                        <div class="center-align comment-avatar">
                                            <a href="/user/lycorisaki" class="avatar-link">
                                                <img src="@item.User.Avatar" class="avatar-img" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-content-box">
                                            <div class="comment-username">
                                                <a href="/user/lycorisaki" class="username-link">
                                                    @item.User.UserName
                                                </a>
                                            </div>
                                            <div class="comment-info">
                                                <a href="#!" class="comment-interval"></a>
                                            </div>
                                            <div class="comment-content-msg  word-wrap">
                                                @Html.Raw(HttpUtility.HtmlDecode(item.Content))
                                            </div>
                                            <div class="comment-content-footer">

                                                <div class="comment-view-controls" style="display: inline-block; margin-right: 0.5rem;">
                                                    <a href="#!" class="comment-report-btn">Báo cáo</a>
                                                </div>
                                                <a href="javascript:void(0)" class="comment-reply-btn"  onclick="onClickBtnLikeReview(this, @item.ReviewId)" id="review-like-btn-@item.ReviewId">
                                                    <i class="fa-sharp fa-regular fa-thumbs-up"></i> Cảm ơn <span class="thank-num">@item.Likes</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="book-item hide-on-small-only">
                                <div>
                                    <a class="hoverable" href="/truyen/@item.Book.Slug-@item.Book.BookId">
                                        <img class="cover-wrapper carousel-inner" src="@item.Book.Avatar" alt="Card image">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h4 class="book-title">
                                        <a href="/truyen/@item.Book.Slug-@item.Book.BookId">@item.Book.BookName</a>
                                    </h4>
                                    <p class="book-author"><a class="truncate" href="">@item.Book.Author.AuthorName</a></p>
                                    <p class="card-text index__truyenmoito--gioithieu">
                                        <i>
                                            @Html.Raw(item.Book.Introduce.Substring(0,128))
                                        </i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-md-12">
                <div class="box-footer">
                    <div class="box-footer clearfix">
                        <ul class="pagination justify-content-end">
                            @Html.PagedListPager(Model, page => Url.Action("", new {sort_by = sort_by, categoryId = categoryId, pageNumber = page}),new X.PagedList.Web.Common.PagedListRenderOptions(){
                            LiElementClasses = new List<String> {"page-item"},
                            PageClasses = new List<String> {"page-link"}
                            })
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script type="text/javascript" src="~/content/interact_review.js"></script>
    <script type="text/javascript" src="~/content/review.js"></script>
}