@using System.Web
@{
    int pageSize = (int)ViewBag.pageSize;
    int pageCount = (int)ViewBag.pageCount;
    int pageNumber = (int)ViewBag.pageNumber;
    string name = ViewBag.searchName as string;
}


<link href="~/css/boloc.css" rel="stylesheet" />

<!-- nav__mobile -->
<div class="section-search-advance-mobile ">
    <div class="wrap-search-advance-mobile ">
            <label for="">
                <select name="" id="">
                    <option value="">Tình trạng</option>
                    <option value="A1">Toàn bộ</option>
                    <option value="A1">Toàn bộ</option>
                    <option value="A3">Hoàn Thành</option>
                </select>
            </label>
            <label for="">
                <select name="" id="">
                    <option value="">Thể Loại</option>
                    <option value="A1">Toàn bộ</option>
                    <option value="A1">Truyện Convert</option>
                    <option value="A3">Truyện dịch</option>
                    <option value="A3">Truyện sáng tác</option>
                </select>
            </label>
            <label for="">
                <select name="" id="">
                    <option value="">Xếp hạng</option>
                    <option value="A1">Không xếp hạng</option>
                    <option value="A1">Xem nhiều</option>
                    <option value="A3">Đề cử</option>
                    <option value="A3">Yêu thích</option>
                    <option value="A3">Theo dõi</option>
                    <option value="A3">Bình luận</option>
                </select>
            </label>
            <label for="">
                <select name="" id="">
                    <option value="">Số chương</option>
                    <option value="A1">Toàn bộ</option>
                    <option value="A1">300</option>
                    <option value="A3">300 - 1000</option>
                    <option value="A3">1000 - 2000</option>
                    <option value="A3">> 2000</option>
                </select>
            </label>
            <label for="">
                <select name="" id="">
                    <option value="">Sắp xếp theo</option>
                    <option value="A1">Mới cập nhập</option>
                    <option value="A1">Truyện mới</option>
                    <option value="A3">Số chương</option>
                </select>
            </label>
            <label for="">
                <select name="" id="">
                    <option value="">Tag</option>
                    <option value="A1">Không lọc</option>
                    <option value="A1">Cô nhi</option>
                    <option value="A3">Đạo tặc</option>
                    <option value="A3">Đặc công</option>
                </select>
            </label>
            <div>
                <a href="javascript:void(0)" class="btn btn-primary btn-filter">
                    Lọc truyện
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>
    </div>
</div>


<!-- end nav__mobile -->

<div class="rank-box box-center row">
    <div class="rank-box-list col-3">
        <form method="post" action="/Filter/Index">
            <div class="rank-box-item-box">
                <h4>Tình trạng</h4>
                <ul class="nav nav-pills" id="filter-status">
                    <li class="nav-item">
                        <a href="javascript:void(0)">Toàn bộ</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)">Đang ra</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)">Hoàn thành</a>
                    </li>
                </ul>
            </div>

            <div class="rank-box-item-box">
                <h4>Xếp hạng</h4>
                <ul class="nav nav-pills" id="filter-rank">
                    <li class="nav-item" data-temp-value="view">
                        <a href="javascript:void(0)">Xem nhiều</a>
                    </li>
                    <li class="nav-item" data-temp-value="recommend">
                        <a href="javascript:void(0)">Đề cử</a>
                    </li>
                    <li class="nav-item" data-temp-value="like">
                        <a href="javascript:void(0)">Yêu thích</a>
                    </li>
                    <li class="nav-item" data-temp-value="follow">
                        <a href="javascript:void(0)">Theo dõi</a>
                    </li>
                    <li class="nav-item" data-temp-value="comment">
                        <a href="javascript:void(0)">Bình luận</a>
                    </li>
                </ul>
            </div>

            <div class="rank-box-item-box">
                <h4>Số chương</h4>
                <ul class="nav nav-pills" id="filter-chapter">
                    <li class="nav-item" data-temp-value="299">
                        <a href="javascript:void(0)">< 300</a>
                    </li>
                    <li class="nav-item" data-temp-value="999">
                        <a href="javascript:void(0)">300 - 1000</a>
                    </li>
                    <li class="nav-item" data-temp-value="1999">
                        <a href="javascript:void(0)">1000 - 2000</a>
                    </li>
                    <li class="nav-item" data-temp-value="99999">
                        <a href="javascript:void(0)">> 2000</a>
                    </li>
                </ul>
            </div>

            <div class="rank-box-item-box">
                <h4>Sắp xếp theo</h4>
                <ul class="nav nav-pills" id="filter-sortby">
                    <li class="nav-item" data-temp-value="new">
                        <a href="javascript:void(0)">Mới nhất</a>
                    </li>
                    <li class="nav-item" data-temp-value="old">
                        <a href="javascript:void(0)">Cũ nhất</a>
                    </li>
                </ul>
            </div>

            <div class="rank-box-item-box">
                <h4>Tags</h4>
                <ul class="nav nav-pills" id="filter-tags">
                    <li class="nav-item">
                        <a href="javascript:void(0)">Cô nhi</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)">Đạo tặc</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)">Đặc công</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)">Cô nhi</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)">Đạo tặc</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)">Đặc công</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)">Cô nhi</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)">Đạo tặc</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)">Đặc công</a>
                    </li>
                </ul>
            </div>

            <button type="submit" class="btn btn-primary btn-filter">
                Lọc truyện
                <i class="fa-solid fa-chevron-right"></i>
            </button>
        </form>
    </div>

    <div class="rank-box-main col-9">
        <div class="rank-box-main-header">
            <h4>Bộ lọc</h4>
            <div class="rank-toolbar">
                <div class="tool-box">
                    <div class="type-list">
                        <p id="type-list">
                            <a href="javascript:void(0)" class="active--type-list" onclick="typeListClick(this)">Tất cả</a>
                            <i>·</i>
                            <a href="javascript:void(0)" onclick="typeListClick(this)">Tiên hiệp</a>
                            <i>·</i>
                            <a href="javascript:void(0)" onclick="typeListClick(this)">Huyền huyễn</a>
                            <i>·</i>
                            <a href="javascript:void(0)" onclick="typeListClick(this)">Đô thị</a>
                            <i>·</i>
                            <a href="javascript:void(0)" onclick="typeListClick(this)">Khoa huyễn</a>
                            <i>·</i>
                            <a href="javascript:void(0)" onclick="typeListClick(this)">Kỳ huyễn</a>
                            <i>·</i>
                            <a href="javascript:void(0)" onclick="typeListClick(this)">Võ hiệp</a>
                            <i>·</i>
                            <a href="javascript:void(0)" onclick="typeListClick(this)">Lịch sử</a>
                            <i>·</i>
                            <a href="javascript:void(0)" onclick="typeListClick(this)">Đồng nhân</a>
                            <i>·</i>
                            <a href="javascript:void(0)" onclick="typeListClick(this)">Quân sự</a>
                            <i>·</i>
                            <a href="javascript:void(0)" onclick="typeListClick(this)">Du hí</a>
                            <i>·</i>
                            <a href="javascript:void(0)" onclick="typeListClick(this)">Cạnh ký</a>
                            <i>·</i>
                            <a href="javascript:void(0)" onclick="typeListClick(this)">Linh dị</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="rank-box-main-body">
            <div class="rank-view-list">
                <div class="rank-view-list-item">
                    <ul class="list-group" id="filter-book">
                        @{
                            foreach (var book in Model)
                            {
                                <li class="list-group-item">
                                    <div class="book--img">
                                        <a href="/truyen/@book.Slug-@book.BookId">
                                            <img src="@book.Avatar" class="book--imgcss">
                                        </a>
                                    </div>
                                    <div class="book--info">
                                        <h3>
                                            <a href="/truyen/@book.Slug-@book.BookId">@book.BookName</a>
                                        </h3>
                                        <div class="book-state">
                                            <a href="/tac-gia/@book.AuthorId/@book.Author.Slug">@book.Author.AuthorName</a>
                                            <i>|</i>
                                            <p>@book.BookStatus.BookStatusName</p>
                                            <i>|</i>
                                            <p>@book.NumberOfChapters chương</p>
                                        </div>
                                        <div class="describe">
                                            @Html.Raw(HttpUtility.HtmlDecode(book.Introduce))
                                        </div>
                                    </div>
                                    <div class="book--info-buttons">
                                        <p>
                                            <a class="btn" href="/truyen/@book.Slug-@book.BookId">Đọc truyện</a>
                                        </p>
                                    </div>
                                </li>
                            }
                        }
                        @*<li class="list-group-item">
                            <div class="book--img">
                                <a href="javascript:void(0)">
                                    <img src="/image/test3.jpg" class="book--imgcss">
                                </a>
                            </div>
                            <div class="book--info">
                                <h3>
                                    <a href="/html/truyen.html">Tên truyện mới 1</a>
                                </h3>
                                <div class="book-state">
                                    <a href="javascript:void(0)">Tác giả</a>
                                    <i>|</i>
                                    <a href="javascript:void(0)">thục sơn</a>
                                    <i>|</i>
                                    <p>Tình trạng</p>
                                    <i>|</i>
                                    <p>Số chương</p>
                                </div>
                                <div class="describe">
                                    Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                                    truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                                    truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                                    truyện mới 1Giới thiệu về truyện mới 1
                                    Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                                    truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                                    truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                                    truyện mới 1Giới thiệu về truyện mới 1
                                </div>
                            </div>
                            <div class="book--info-buttons">
                                <p>
                                    <a class="btn" href="/html/truyen.html">Đọc truyện</a>
                                    <a class="btn" href="javascript:void(0)">Chi tiết</a>
                                </p>
                            </div>
                        </li>*@
                    </ul>
                </div>
            </div>
        </div>
        <div class="rank-box-main-pagination">
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="/bo-loc?pageNumber=@Math.Max(1, pageNumber - 1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @{
                    for (int i = 1; i <= pageCount; ++i)
                    {
                            <li class="page-item"><a class="page-link" href="/bo-loc?pageNumber=@i">@i</a></li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="/bo-loc?pageNumber=@Math.Min(pageNumber + 1, pageCount)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var categoryId = `@ViewBag.categoryId`;
    </script>

    <script type="text/javascript" src="~/js/filterbtn.js"></script>
    <script type="text/javascript" src="~/content/filter.js"></script>
   
}
