@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<BookEntity>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    int categoryId = ViewBag.categoryId;
    string sort_by = ViewBag.sortBy;
    string order = ViewBag.order;
}

<link rel="stylesheet" href="~/css/wiki/rank-0.0.6.min.css">
<link href=~/css/utils/materialize-wiki.min.css type="text/css" rel="stylesheet" media="screen,projection" />
<link href=~/css/utils/font-awesome.min.css type="text/css" rel="stylesheet" media="screen,projection" />
<link href=~/css/utils/animate.min.css type="text/css" rel="stylesheet" media="screen,projection" />
<link href=~/css/wiki/base-0.1.0.min.css type="text/css" rel="stylesheet" media="screen,projection" />
<link href=~/css/boloc.css type="text/css" rel="stylesheet" media="screen,projection" />
<script type="text/javascript" src="~/js/utils/materialize-wiki.min.js"></script>
<script type="text/javascript" src="~/js/utils/jquery-2.2.4.min.js"></script>
<script src="/js/utils/materialize-wiki.min.js"></script>


<div class="container">

    <div class="sort-box float-wrapper">


        <a class="dropdown-button" data-hover="true" data-beloworigin="true"
           data-constrainwidth="false" data-activates='ddRankCate'
           style="font-size: 1.23rem; color: #666666;">Thể loại<i class="fa fa-sort-desc" aria-hidden="true" style="font-size: 1.6rem; margin: 0 0.4rem; vertical-align: top; line-height: 1.2rem"></i></a>
        <ul id='ddRankCate' class='dropdown-content'>
            @{
                foreach(var item in ViewBag.category)
                {
                    <li class=""><a href="/bang-xep-hang?category_id=@item.CategoryId">@item.CategoryName</a></li>
                }
            }
        </ul>
        <a class="dropdown-button" data-hover="true" data-beloworigin="true"
           data-constrainwidth="false" data-activates='ddRankFilter'
           style="font-size: 1.23rem; color: #666666;">Xếp theo<i class="fa fa-sort-desc" aria-hidden="true" style="font-size: 1.6rem; margin: 0 0.4rem; vertical-align: top; line-height: 1.2rem"></i></a>
        <ul id='ddRankFilter' class='dropdown-content'>
            <li class="active"><a href="/bang-xep-hang?sort_by=like">Lượt yêu thích</a></li>
            <li class=""><a href="/bang-xep-hang?sort_by=recommend">Lượt đề cử</a></li>
            <li class=""><a href="/bang-xep-hang?sort_by=follow">Lượt theo dõi</a></li>
            <li class=""><a href="/bang-xep-hang?sort_by=view">Lượt đọc</a></li>
        </ul>
        <a class="dropdown-button right" data-hover="true" data-beloworigin="true"
           data-constrainwidth="false" data-activates='ddRankRank'
           style="font-size: 1.23rem; color: #666666;">Lọc theo<i class="fa fa-sort-desc" aria-hidden="true" style="font-size: 1.6rem; margin: 0 0.4rem; vertical-align: top; line-height: 1.2rem"></i></a>
        <ul id='ddRankRank' class='dropdown-content'>
            <li class="active"><a href="/bang-xep-hang?order=down">Mới nhất</a></li>
            <li class=""><a href="/bang-xep-hang?order=up">Cũ nhất</a></li>

        </ul>
    </div>

    <div class="book-list">
        @{
            foreach (var item in Model)
            {
                <div class="book-item">
                    <div class="cover-col">
                        <a class=" hoverable" href="/truyen/@item.Slug-@item.BookId">
                            <img class="cover-wrapper carousel-inner" src="@item.Avatar" />
                        </a>
                    </div>
                    <div class="info-col">
                        <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="@item.BookName"
                       href="/truyen/@item.Slug-@item.BookId">
                            <h5 class="book-title truncate">@item.BookName</h5>
                        </a>
                        <p class="book-author"><a class="truncate" href="/tac-gia/@item.Author.Slug-@item.Author.AuthorId">@item.Author.AuthorName</a></p>
                        <p class="book-publisher"><a class="truncate" href="/ho-so/@item.UserId">@item.User.UserName</a></p>
                        <p class="book-publisher"><a class="truncate" href="">@item.BookStatus.BookStatusName</a></p>
                        <p class="book-stats-box">
                            <span class="book-stats"><i class="fa fa-light fa-eye"></i><span data-ready="abbrNum">@item.Views</span></span>
                            <span class="book-stats"><i class="fa fa-thin fa-thumbs-up"></i><span data-ready="abbrNum">@item.Likes</span></span>
                            <span class="book-stats"><i class="fa fa-thin fa-star"></i><span data-ready="abbrNum">@item.Recommends</span></span>
                        </p>
                    </div>
                </div>
            }
        }
    </div>

    <div class="col-md-12">
        <div class="box-footer">
            <div class="box-footer clearfix">
                <ul class="pagination justify-content-end">
                    @Html.PagedListPager(Model, page => Url.Action("", new {sort_by = sort_by, order = order, categoryId = categoryId, pageNumber = page}),new X.PagedList.Web.Common.PagedListRenderOptions(){
                            LiElementClasses = new List<String> {"page-item"},
                            PageClasses = new List<String> {"page-link"}
                            })
                </ul>
            </div>
        </div>
    </div>
</div>