@using System.Web
<link rel="stylesheet" href="~/css/doctruyen.css">
<link rel="stylesheet" href="~/css/truyen.css">

<script type="text/javascript" src="~/js/changbtn.js"></script>

<div class="container body-container">
    <div class="content">
        <h1 class="truyen-title">@Model.Title</h1>
        <p class="truyen-author">
            Người đăng:
            <a href="javascript:void(0)">@Model.User.UserName</a>
        </p>
        <p class="truyen-time">Ngày đăng: @Model.CreatedDate</p>
    </div>

    <div class="chapter">
        <div class="chapter-content">
            <div class="control-area-wrap">
            </div>

            <div class="box-chapters">
                <div class="box-chap">
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
                </div>

                <div class="box-ads">
                    <div class="box-icon-section">
                        <div class="box-icon-section-left">
                            <a href="javascript:void(0)" id="post-like-btn" onclick="onClickBtnLikePost(this)">
                                <i class="fa-regular fa-thumbs-up"></i>
                                @Model.Likes
                            </a>
                        </div>

                        <div class="box-icon-section-right">
                            <a href="javascript:void(0)">
                                <i class="fa-solid fa-triangle-exclamation"></i>
                                Báo lỗi
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="comment-section">
        <div class="user--comment-discuss-wrap">
            <div class="user--comment-discuss-list">
                <div class="user--comment-discuss-list-title">Bình luận</div>
                <ul class="list-group list-group-flush" id="list-commentpost-chapter">
                    <li class="list-group-item">
                        <div class="row user--comment-section">
                            <div class="user--photo col-md-auto">
                                <a href="javascript:void(0)">
                                    <img src="/image/test3.jpg">
                                </a>
                            </div>
                            <div class="input-comment col">
                                <div id="postcomment-toolbar"></div>
                                <div id="postcomment-editor"></div>
                            </div>

                            <div class="submit-btn col-md-12">
                                <div class="submit-btn-wrap">
                                    <button type="button" class="btn btn-primary" onclick="AddBookComment()">Đăng</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row user--comment-section">
                            <div class="user--photo col-md-auto">
                                <a href="javascript:void(0)">
                                    <img src="/image/test3.jpg">
                                </a>
                            </div>
                            <div class="col user--discussion-main">
                                <div class="user--discussion">
                                    <p class="users">
                                        <a href="javascript:void(0)">kfc group</a>
                                        <span>bá tánh bình dân</span>
                                    </p>
                                    <p class="comments">
                                        truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                        truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                        truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                        truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                        truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay
                                    </p>
                                    <p class="info--wrap">
                                        <span>2 hrs</span>
                                        <a href="javascript:void(0)">
                                            <i class="fa-regular fa-comment-dots info-icon"></i>
                                            0 trả lời
                                        </a>
                                        <a href="javascript:void(0)">
                                            <i class="fa-regular fa-thumbs-up info-icon"></i>
                                            0
                                        </a>
                                    </p>
                                </div>
                                <div class="user--discussion-child">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="row user--comment-section">
                                                <div class="user--photo col-md-auto">
                                                    <a href="javascript:void(0)">
                                                        <img src="/image/test3.jpg">
                                                    </a>
                                                </div>
                                                <div class="user--discussion-main col">
                                                    <div class="user--discussion">
                                                        <p class="users">
                                                            <a href="javascript:void(0)">kfc group</a>
                                                            <span>bá tánh bình dân</span>
                                                        </p>
                                                        <p class="comments">truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay </p>
                                                        <p class="info--wrap">
                                                            <span>2 hrs</span>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa-regular fa-comment-dots info-icon"></i>
                                                                0 trả lời
                                                            </a>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa-regular fa-thumbs-up info-icon"></i>
                                                                0
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                   
                </ul>
                @*<p class="go--discuss">
                <a href="javascript:void(0)">Thêm bình luận</a>
                </p>*@
            </div>
        </div>
    </div>

 </div>

@section Scripts {
    <script>
        var postId = `@Model.PostId`;
    </script>

    <script type="text/javascript" src="~/content/post.js"></script>
    <script type="text/javascript" src="~/content/interact_post.js"></script>
    <script type="text/javascript" src="~/content/comment.js"></script>
    <script type="text/javascript" src="~/content/interact_comment.js"></script>
    <script type="text/javascript" src="~/content/replyComment.js"></script>
}

