@using System.Web

<link href="~/css/userprofile.css" rel="stylesheet" />
<link href="~/css/dangtruyen.css" rel="stylesheet" />

@model BookEntity

@{
    string error = TempData["error"] as string;
    List<TagEntity> listTag = ViewBag.CheckedTags;
}
<style>
    #hoso {
        border: none !important;
    }

        #hoso > a {
            color: black !important;
        }

    #dangtruyen {
        border: 0.5px solid rgba(190, 186, 186, 0.7);
        border-radius: 5px;
    }

        #dangtruyen > a {
            color: #EE4259;
        }

    /* main {
            height: calc(75vh);
        }*/
</style>

<main>
    @await Component.InvokeAsync("UserNavbar")
    <div class="row-right">
        <form action="/Upload/AddOrUpdateBook" method="post" id="upload-book">
            <div class="edit--main-body">
                @{
                    if (error != null)
                    {
                         <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger" role="alert">
                                  @error
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="editor--header">Giao diện đăng truyện</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="editor--title">Tên truyện:</h4>
                    </div>
                    <div class="col-md-10">
                        <div class="editor--content input-group">
                            <input type="text" class="editbook--name form-control" name="BookName" placeholder="Nhập tên truyện..." value="@(Model == null ? "" : Model.BookName)" />
                            <input type="text" name="BookId" value="@(Model == null ? "" : Model.BookId)" hidden/>
                            <input type="text" name="UserId" value="@ViewBag.UserId" hidden/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="editor--title">Tác giả:</h4>
                    </div>
                    <div class="col-md-10">
                        <div class="editor--content input-group">
                            <input type="text" class="editbook--name form-control" name="AuthorName" placeholder="Nhập tên tác giả..." value="@(Model == null ? "" : Model.Author.AuthorName)" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="editor--title">Tình trạng:</h4>
                    </div>
                    <div class="col-md-10">
                        <div class="editor--content">
                            <select name="bookstatusid" class="form-select" asp-for="@Model.BookStatusId" asp-items="@ViewBag.BookStatuses" value="@(Model != null ? Model.BookStatusId : 0)"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="editor--title">Ảnh đại diện:</h4>
                    </div>
                    <div class="col-md-10">
                        <div class="editor--img-wrap">
                            <div class="editor--img-container" style="margin-bottom: 10px;">
                                <img src="@(Model == null ? "/image/book-default.jpg" : Model.Avatar)" class="input-img">
                            </div>
                            <input type="file" name="fileUpload"></input>
                                <input type="text" name="Avatar" asp-for="@Model.Avatar" value="@(Model == null ? "/image/book-default.jpg" : Model.Avatar)" hidden/>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="editor--title">Thể loại:</h4>
                    </div>
                    <div class="col-md-10">
                        <div class="editor--content">
                            <select name="categoryid" class="form-select" asp-for="@Model.CategoryId" id="specificSizeSelect" asp-items="@ViewBag.Categories" value="@(Model != null ? Model.CategoryId : 0)"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <h4 class="editor--title">Thể loại phụ:</h4>
                    </div>
                    <div class="col-md-10">
                        <div class="editor--content sub-catagory">
                            <div class="row">
                                @{
                                    foreach (var item in ViewBag.Tags)
                                    {
                                        <div class="form-check form-check-inline col-md-2">
                                            <input class="form-check-input" class="tag-checkbox" name="tag" type="checkbox" value="@item.TagId" @(listTag.Contains(item) ? "checked" : "")>
                                            <label class="form-check-label">@item.TagName</label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4 class="editor--title">Nội dung truyện:</h4>
                    </div>
                    <div class="col-md-12">
                        <div class="textbox-dangtruyen">
                            <div id="dangtruyen-toolbar"></div>
                            <div id="dangtruyen-editor">@Html.Raw(HttpUtility.HtmlDecode(Model == null ? "" : Model.Introduce))</div>
                            <input name="introduce" type="text" value="@(Model == null ? "" : Model.Introduce)" hidden/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary submit-btn" type="submit">Đăng</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

@section Scripts{
<script>
    var folder = "book";
    var bookImg = "@(Model == null ? "/image/book-default.jpg" : Model.Avatar)";
</script>
<script type="text/javascript" src="~/content/image.js"></script>
<script type="text/javascript" src="~/content/uploadbook.js"></script>
}
